<style>
    footer{
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: auto;
        width: 100vw;
        padding-top: 40px;
        color: #fff;
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
    }
    .cont{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px;
    }
    .v{
        background-color: rgb(153, 161, 161);
    }
</style>
<footer>
    <div class="cont-fluid">
    </div>
</footer>
