<!DOCTYPE html>
{% extends 'main.html' %}
<!--teing which htm is extening to ,crete  child html-->
{% block content %}
<!-- to speciy position-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Study Bud</title>
</head>

<body>
  <br>

  <div class="home-container">
    <div class="browsetopics">
      {% include 'base/topics_component.html' %}
    </div>

    <div>
      <div class="roominfo">
        <h5 class="roomno">rooms available - {{room_count}}</h5>
        <div>
          <button class="btn btn-light" style="color:white ;"><a  href="{%url 'create-room'%}">Create Room</a></button>
          <button class="btn btn-light" style="color:white ;"><a  href="{%url 'add-topic'%}">Add Topic</a></button>
        </div>
      </div>

      <div>
        {% include 'base/feed_component.html' %}
      </div>
    </div>

    <div class="activity" style="overflow-y:hidden;">
      <div style="background-color:rgb(21, 148, 148); border-top-left-radius:10px ;border-top-right-radius:10px; padding: 5px;"><h4>Recent Activity<h4></div>
      {% include 'base/activity_component.html' %}
    </div>
  </div>

</body>

</html>
{% endblock content %}